/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

/* COMMON */

/* layout */

.container-header {
    width: 80%;
    max-width: 3000px;
    margin: 10px;
    background-color: #fff;
   
}

.check{
    color: green;
    margin-right: 18px;
    margin-left: 8px;
    
}

.elementi-lista{
    margin-top: 10px;
}

/* HEADER */

header {
    background-color: #f6f8f9;
}

.logo-titolo{
    vertical-align: middle;
    
}


/* MAIN */

.container-main {
    border: 1px solid black;
    margin: 0 auto;
    width: 1000px;
    height: 1600px;
    padding: 20px 50px;
    background-color: #fff;

    
}

body {
    background-color: #f6f8f9;

}

.sezione-ricerca{
    margin-bottom: 50px;

}

.bottone {
    background-color: #47adf1;
    color: white;
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    padding-top: 5px;
    font-size: small;

}

.ricerca {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);

}

.lista{
    list-style: none
}

.sezione-NT{
    ;
}